################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/System Programing/Bit Manipulation/.vs/Bit Manipulation/v16
